<div id="masthead">
	<div class="row">
		<div class="large-12 columns">
			<h1>Lorem ipsum keme keme</h1>
			<p>Ang bukod-tanging dummy text generator ng mga Beki.</p>
			<p><a href="#gora" class="button transparent round">&nbsp;&nbsp;&nbsp;   gora!   &nbsp;&nbsp;&nbsp;</a></p>
		</div>
	</div>
</div>

<div class="content">
	<div class="row">
		<div class="large-4 columns large-push-2 text-right">
			{% include snippet-social.html %}
			
		</div>
		<div class="large-4 large-pull-2 columns text-left">
			{% include adzone01.html %}
			
		</div>		
	</div>
</div>
