<nav id="nav-main" class="top-bar sticky" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
		    <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li><a href="{{ site.baseurl }}">Home</a></li>    
      <li class="divider"></li>
      <li><a href="{{ site.baseurl }}/#about">About</a></li>
      <!--         <li class="divider"></li>
      <li><a href="{{ site.url }}/#projects">Projects</a></li> -->
      <li class="divider"></li>
      <li><a href="{{ site.baseurl }}/#blog">Blog</a></li>
      <li class="divider"></li>
      <li><a href="/archives">Archives</a></li>
      <li class="divider"></li>
      <li><a href="http://archondigital.com/contact/form/" data-reveal-id="modalContact" data-reveal-ajax="true">Contact</a></li>
    </ul>

  </section>
</nav>