<div class="social">

	<div class="share-su">
		<!-- Place this tag where you want the su badge to render -->
		<su:badge layout="5"></su:badge>
	</div>

	<div class="share-pin">
		<a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fbekiipsum.com&media=http%3A%2F%2Fbekiipsum.com%2Fassets%2Fimages%2Fbekiipsum-screenshot.png&description=Beki%20Ipsum%20Generator%3B%20Lorem%20ipsum%20keme%20keme" data-pin-do="buttonPin" data-pin-config="above" data-pin-color="white" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_28.png" /></a>
	</div>

	<div class="share-fb">
		<div class="fb-like" data-href="{{ page.url | prepend: site.baseurl }}" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>	
	</div>

	<div class="share-google">
		<!-- Place this tag where you want the share button to render. -->
		<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>
	</div>	

	<div class="share-tweet">
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="bekiipsum" data-count="vertical">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>	
	</div>
	
</div>


