<!-- <div class="projects fullscreen">
	<div id="projects" class="panel">
		<div class="row fullwidth">
			<div class="large-6 columns text-right">
				<h1>Projects</h1>
			</div>
			<div class="large-6 columns">
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
			</div>			
		</div>	
	</div>
</div> -->